@tailwind base; 
@tailwind components; 
@tailwind utilities; 



  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
  --danger: #d90429; 
  --primary: #3f37c9; 
  --primary2: #4361ee; 
  --secondary: #6c757d; 
}

@layer base {
  body {
    @apply font-[Quicksand]
  }
  .anchors {
    @apply px-2 hover:font-bold
  }
  .mobile-anchors {
   @apply py-5 px-2 
  }
  .sub-anchors {
    @apply px-2 text-white hover:font-bold
  }
  .btn {
    @apply block w-full rounded-lg bg-[var(--primary)] px-5 py-3 text-sm font-medium text-white
  }
  .log-anchors {
    @apply px-8 hover:font-bold
  }
  
}

.about-content {
  overflow-y: hidden; 
}

.active {
  font-weight: bold; 
}
