@tailwind base; 
@tailwind components; 
@tailwind utilities; 



  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
  --danger: #d90429; 
  --plain: #ffffff;
  --default: #242423;
  --default2: #333533; 
  --primary: #283618; 
  --primary2: #3a5a40; 
  --secondary: #6c757d; 
  --secondary2: #ced4da;
  --secondary3: #F1F5F9; 
  
}

@layer base {
  body {
    @apply font-[Quicksand]
  }
  .anchors {
    @apply px-2 hover:font-bold font-thin text-sm dark:text-[var(--default)] 
  }
  .mobile-anchors {
   @apply py-5 px-2 
  }
  .sub-anchors {
    @apply px-2 text-white hover:font-bold font-thin text-sm
  }
  .btn {
    @apply block w-full rounded-lg bg-[var(--primary)] px-4 py-2 text-sm font-medium text-white hover:bg-[var(--primary2)] dark:text-[var(--primary)] dark:bg-[var(--secondary3)] dark:hover:bg-[var(--plain)] dark:hover:text-[var(--default)]
  }
  .log-anchors {
    @apply px-2 md:px-4 lg:px-8 hover:font-bold text-xs sm:text-lg text-[1rem]
  }
  .link {
    @apply hover:bg-[var(--secondary3)]
  }
  .other-links {
    @apply hover:text-[var(--danger)]
  }
  .service {
    @apply bg-[var(--secondary2)] rounded-lg flex flex-col px-2 hover:scale-105 duration-700 ease-in-out hover:shadow-lg hover:shadow-black dark:bg-[var(--default2)] dark:text-[var(--plain)]
  }
  .service-icon {
    @apply w-[50px] h-[50px] md:w-[80px] md:h-[80px] group-hover:text-[var(--danger)] ml-[-8px]
  }
  .service-title {
    @apply font-bold text-[1.2rem]
  }
  .service-description {
    @apply font-thin py-2
  }
  .side-slide {
    @apply border-b py-3 w-full text-[var(--secondary)] border-[var(--secondary)]
  }
  .social-icons {
    @apply mx-2 p-2 mt-4 rounded-full border hover:bg-blue-700 hover:border-blue-700 hover:cursor-pointer 
  }
  .subtitle {
    @apply border-b-2 dark:border-[var(--secondary2)] pb-1 border-b-[var(--primary2)]
  }
  .form-input {
    @apply w-full bg-[var(--secondary3)] p-3 rounded-lg outline-none dark:bg-[black] dark:text-[#fff]
  }
  .title {
    @apply flex justify-center text-3xl font-bold mb-4 mt-8 text-[var(--primary2)] dark:text-[var(--primary2)] 
  }
  .small-links {
    @apply text-xs sm:text-sm
  }
  .scroll-cursor {
    @apply cursor-progress
  }
}

.about-content {
  overflow-y: hidden; 
}

.active {
  font-weight: bold; 
  text-decoration: underline;
  color: var(--danger); 
  
}
